<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    Главный автор книги
    <%# <%= form.label :author_id %><br>
    <%= form.collection_select :author_id, Author.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <p>Соавторы книги:</p>
  <% @authors.each do |author| %>
    <div>
      <%= check_box_tag "post[author_ids][]", author.id, @book.authors.include?(author) %>
      <%= author.name %>
    </div>
  <% end %>
 <p></p>
  <div class="actions">
    <%= form.submit %>
  </div>





<% end %>
